default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  pool: 5

development:
  <<: *default
  database: database_dev

test:
  <<: *default
  database: database_test

production:
  <<: *default
  database: database_prod
  username: username
  password: password

staging:
  <<: *default
  database: database_staging
